{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-empty-line-before": "never",
    "comment-empty-line-before": "never",
    "rule-empty-line-before": "never",
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "selector-no-vendor-prefix": null
  }
}
